@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@custom-variant dark (&:where(.dark, .dark *));

[x-cloak] {
    display: none !important;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-surface: var(--surface);
    --color-surface-foreground: var(--surface-foreground);

    --color-primary: var(--color-foreground);
    --color-primary-foreground: var(--color-background);

    --color-nepal-50: oklch(0.977 0.005 228.817);
    --color-nepal-100: oklch(0.943 0.009 242.841);
    --color-nepal-200: oklch(0.9 0.018 240.014);
    --color-nepal-300: oklch(0.831 0.029 238.318);
    --color-nepal-400: oklch(0.736 0.045 240.966);
    --color-nepal-500: oklch(0.668 0.057 249.533);
    --color-nepal-600: oklch(0.606 0.064 254.945);
    --color-nepal-700: oklch(0.553 0.066 260.267);
    --color-nepal-800: oklch(0.553 0.066 260.267);
    --color-nepal-900: oklch(0.429 0.039 259.909);
    --color-nepal-950: oklch(0.317 0.025 265.549);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.97 0.01 17);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --surface: oklch(0.98 0 0);
    --surface-foreground: var(--foreground);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.371 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --destructive-foreground: oklch(0.58 0.22 27);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --surface: oklch(0.2 0 0);
    --surface-foreground: oklch(0.708 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    ::selection {
        @apply bg-accent-foreground text-accent;
    }
    html {
        @apply overscroll-y-none scroll-smooth;
    }
    body {
        font-synthesis-weight: none;
        text-rendering: optimizeLegibility;
    }
    a:active,
    button:active {
        @apply opacity-60 md:opacity-100;
    }
}

@utility no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

@utility extend-touch-target {
    @media (pointer: coarse) {
        @apply relative touch-manipulation after:absolute after:-inset-2;
    }
}
@theme {
    --font-sans:
        Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}


